.ReactModal_Overlay {
  z-index: 1000;
}

div .box .is-button .is- *:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
