progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

::-webkit-progress-bar {
  background-color: #ebebeb;
  width: 145%;
}

#star-counts {
  font-size: 80%;
}

::-webkit-progress-value {
  background-color: #525252;
}

#review-content {
  padding-bottom: 1.5%;
}

.level.review {
  padding-top: -2.5%;
  padding-bottom: -2.5%;
}

.box.is-button:hover {
  background-color: #dcdcdc;
}

div.box.is-button {
  border: solid;
  border-width: thin;
  border-radius: 0;
  font-size: 75%;
}

div.select select {
  outline: none;
  font-weight: bold;
  text-decoration: underline;
}

select:hover,
select:focus {
  border-style: none;
  color: #005580;
}
