table {
  width: 100%;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

::-webkit-progress-bar {
  background-color: #ebebeb;
  width: 150%;
}

#star-counts {
  font-size: 80%;
}

::-webkit-progress-value {
  background-color: #525252;
}

#review-content {
  padding-bottom: 1.5%;
}

.level.review {
  padding-top: -2.5%;
  padding-bottom: -2.5%;
}
