#navbar {
  text-align: left;
  margin: 4px;
  text-align: center;
}

div.navbar-brand {
  color: white;
  font-size: 20px;
  text-decoration: underline;
  font-style: italic;
}

#burger {
  color: black;
}

.link {
  color: black;
}

#searchbar {
  border-color: #525252;
  color: white;
}

input:focus {
  outline: none;
}
