button.button {
  padding: 10px;
}

.carousel {
  background-color: "#EBEBEB";
}

#features li:before {
  content: "✓ ";
  font-weight: bold;
}

#features li {
  padding: 2.5px;
}

.thumb li {
  display: flex;
  flex-direction: column;
}

#thumbnails > .level > .level-item {
  display: flex;
  flex-wrap: wrap;
}
