body {
}

button {
  border: none;
  border-style: solid;
  border-width: thin;
}

border:hover {
  background-color: #ebebeb;
}

div.box.is-button {
  border: solid;
  border-width: thin;
}

select {
  border: none;
  border-style: solid;
  border-width: thin;
}

/** Overview CSS **/

.tag {
}

.product-category {
  margin-top: 2%;
}

#product-name {
  font-weight: bold;
}

#product-style {
}

.all-questions {
  max-height: 60vh;
  overflow: auto;
}

.my-width {
  width: 100%;
  margin: auto;
}

.search-box {
  width: 100%;
  height: 60px;
  margin-bottom: 2%;
  border: 1px solid black;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.my-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.question-body {
  font-weight: bold;
}

.answer-unit {
  margin-bottom: 10px;
}
.answer-body {
}
span > u {
  cursor: pointer;
}

.more-answers {
}
.my-button {
  background-color: white;
  border: 1px solid black;
  height: 60px;
  font-weight: bold;
  color: #525252;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.answer-photo {
  border: 1px solid gray;
}

/* Reviews & Ratings */

#modal-title {
  color: white;
  text-align: center;
}
