.bar-container {
    height: 15px;
    width: 50%;
    background-color: lightgray;
    position: relative;
    display: inline-block;
}

.bar {
    height: 15px;
    background-color: #505050;
    position: absolute;
    top: 0;
    left: 0;
}
